#root{
  height: 100%;
}
.trigger {
  width: 20px;
  height: 20px;
  margin-left: 20px;
  svg {
    width: 20px;
    height: 20px;
  }
}
.ant-layout-sider
{ 
overflow: auto;
::-webkit-scrollbar{
width: 1px;
height: 1px;
}
}
